body {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home {
    height: 100vh;
    width: 100%;
    background-image: url("assets/user.jpg");
    background-size: cover;
    background-position: center;

}

.logo {
    width: 250px;
    height: 150px;
    position: absolute;
    left: 50px;
    margin: 0px;
    padding: 0px;

}

.navbar {
    width: 100%;
    display: flex;
    height: 150px;
    align-items: center;
    padding: 0px 100px 0px 400px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    word-spacing: 24px;
}

.navbar--link {
    padding: 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    z-index: 6;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    text-align: left;
    font-size: 15px;
    color: rgb(190, 190, 190);
    padding: 0 230px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 10px;
}

.content h1 {
    font-size: 50px;
    font-family: 'Fredoka One';
    line-height: 20px;
    color: white;
    padding: 0 37.5%;
}

.btn-ingresar {
    width: 300px;
    height: 50px;
    background: #009DE2;
    border-radius: 25px;
    font-family: 'Fredoka One';
    color: white;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    left: 39.5%;
    top: 55%;;
    position: absolute;
}

.btn1 {
    width: 300px;
    height: 50px;
    background: white;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    left: 39.5%;
    top: 35%;
}

.posicion1 {
    position: absolute;
    left: 41%;
    top: 36.5%;

}

.btn2 {
    width: 300px;
    height: 50px;
    background: white;
    border-radius: 15px;
    border: none;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    left: 39.5%;
    top: 45%;
}

.posicion2 {
    position: absolute;
    left: 41%;
    top: 46.5%;

}


.btn-ingresar:hover {background-color: #3fb3e4}


input {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'Fredoka One';
    font-size: 20px;
    color: black;
  }

.recuerdame{
    color: white;
    position: absolute;
    left: 43%;
    top: 64%;
}

.cuenta{
    color: white;
    position: absolute;
    left: 50%;
    top: 66%;
}

  .posicion4 {
    position: absolute;
    left: 41%;
    top: 66.5%;
}
